{#
/**
* @file
* Default theme implementation to present a text_files entity.
*
* This template is used when viewing a registered text_files's page,
* e.g., /admin/content/text-files)/123. 123 being the text_files's ID.
*
* Available variables:
* - content: A list of content items. Use 'content' to print all content, or
* print a subset such as 'content.title'.
* - attributes: HTML attributes for the container element.
*
* @see template_preprocess_text_files()
*/
#}
{% if content %}
{% set asset_contents %}
{{- content.asset_contents.0 -}}
{% endset %}
{{ content.asset_contents.0['#context']['value']|raw }}
{% endif %}